Repository jbenner-radham/node-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

Update packageManager version
  package.json
Due: eslint --fix, sort-package-json

Upgrade vitest dev dependencies
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Fix lint errors
  spec/index.spec.ts
  src/index.ts
Due: eslint --fix

Upgrade lint-staged dev dependency
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade rimraf dev dependency
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade GH Actions job
  .github/workflows/ci.yaml
Due: none

Update eslint config
  eslint.config.js
Due: eslint --fix

Update pnpm config
  package.json
  pnpm-workspace.yaml
Due: eslint --fix, sort-package-json

Upgrade sort-package-json dev dependency
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade eslint dependencies
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Fix lint error
  tsconfig.json
Due: eslint --fix

Change tsconfig to include from exclude
  tsconfig.json
Due: eslint --fix

Update packageManager field in package.json
  package.json
Due: eslint --fix, sort-package-json

Add @radham/changelog dev dependency
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, sort-package-json

Update specified package manager
  package.json
Due: eslint --fix, sort-package-json

Update pnpm workspace config
  pnpm-workspace.yaml
Due: none

Add cspell config
  cspell.config.json
Due: eslint --fix

Upgrade @radham/changelog
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Add cSpell for spell checking
  .husky/pre-commit
  cspell.config.js
  cspell.config.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade globals dev dependency
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Update prose
  cspell.config.js
Due: eslint --fix

Add spellcheck to CI job
  .github/workflows/ci.yaml
Due: none

Add version to cSpell config
  cspell.config.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,json,md}
  sort-package-json: any of: package.json
