Repository jbenner-radham/node-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.yaml:

---
'*.{js,ts,json,md}': eslint --fix
package.json: sort-package-json

Update package metadata
  package.json
Due: eslint --fix, sort-package-json

Add package metadata
  package.json
Due: eslint --fix, sort-package-json

Add GitHub Actions for testing
  .github/workflows/ci.yaml
Due: none

Add files prop to package
  package.json
Due: eslint --fix, sort-package-json

Downgrade node types
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Update tsconfig
  tsconfig.json
Due: eslint --fix

Update CI config
  .github/workflows/ci.yaml
Due: none

Upgrade @eslint/markdown
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Update pnpm action
  .github/workflows/ci.yaml
Due: none

Update CI actions
  .github/workflows/ci.yaml
Due: none

Add prepublishOnly script
  package.json
Due: eslint --fix, sort-package-json

Update package manager field
  package.json
Due: eslint --fix, sort-package-json

Upgrade lint-staged
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Refine build process
  scripts/build.js
  tsconfig.json
Due: eslint --fix

Upgrade esbuild
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade radham eslint-config
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, sort-package-json

Add newline
  README.md
Due: eslint --fix

Replace build script with duo-build
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/build.js
Due: eslint --fix, sort-package-json

Upgrade duo-build
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Remove minimumReleaseAgeExclude from pnpm config
  pnpm-workspace.yaml
Due: none

Upgrade eslint dependencies
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Update packageManager metadata
  package.json
Due: eslint --fix, sort-package-json

Update pnpm config
  pnpm-workspace.yaml
Due: none

Upgrade @eslint/markdown dependency
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Allow Alerts in GFM
  eslint.config.js
Due: eslint --fix

Change lint-staged config from YAML to JS
  .lintstagedrc.yaml
  lint-staged.config.js
Due: eslint --fix

Upgrade vitest
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade @radham/eslint-config
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Update the globals type for eslint
  eslint.config.js
Due: eslint --fix

Update packageManager info
  package.json
Due: eslint --fix, sort-package-json

Upgrade globals dev dependency
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Change path resolve to join
  eslint.config.js
Due: eslint --fix

Upgrade rimraf dependency
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade vitest dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, sort-package-json

Upgrade radham eslint config dependency
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, sort-package-json
